In [145]:
import pandas as pd
import os

In [96]:
url = os.path.join("C:\Python\pluralsight\covid-19-analytics\input_data\TX","Texas COVID-19 Active Case Data by County.xlsx")

In [97]:
df = pd.read_excel(url,header=[0],skiprows=[0,1])

In [98]:
print(df.head())

  Notes    County  \
0   NaN  Anderson
1   NaN   Andrews
2     â€   Angelina
3   NaN   Aransas
4   NaN    Archer

   Active \r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\nCases \r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\n4-7  \
0                                                1.0
1                                               10.0
2                                               14.0
3                                                1.0
4                                                0.0

   Active \r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\nCases \r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\n4-8  \
0                                                1.0
1                                               10.0
2                                               14.0
3                                                2.0
4                                                0.0

   Active \r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\nCases \r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\n4-9  \
0                                                2.0
1                                               10.0
2                                               14.0
3                                                2.0
4                                                0.0

   Active \r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\nCases \r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\n4-10  \
0                                                2.0
1                                               11.0
2                                               15.0
3                                                2.0
4                                                0.0

   Active \r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\nCases \r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\n4-11  \
0                                                3.0
1                                               11.0
2                                               15.0
3                                                2.0
4                                                0.0

   Active \r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\nCases \r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\n4-12  \
0                                                3.0
1                                               11.0
2                                               14.0
3                                                2.0
4                                                0.0

   Active \r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\nCases \r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\n4-13  \
0                                                3.0
1                                               12.0
2                                               14.0
3                                                2.0
4                                                0.0

   Active \r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\nCases \r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\n4-14  \
0                                                3.0
1                                               13.0
2                                               14.0
3                                                2.0
4                                                0.0

          ...          Active Cases 09-18  Active Cases 09-19  \
0         ...                         0.0                 0.0
1         ...                        76.0                76.0
2         ...                       267.0               265.0
3         ...                         0.0                 0.0
4         ...                         3.0                 3.0

   Active Cases 09-20  Active Cases 09-21  Active Cases 09-22  \
0                 0.0               256.0               266.0
1                76.0                76.0                76.0
2               265.0               265.0               272.0
3                 0.0                 0.0                 0.0
4                 3.0                 3.0                10.0

   Active Cases 09-23  Active Cases 09-24  Active Cases 09-25  \
0               177.0               139.0               122.0
1                69.0                69.0                79.0
2               271.0               271.0               295.0
3                 0.0                 0.0                43.0
4                 9.0                11.0                12.0

   Active Cases 09-26  Active Cases 09-27
0               142.0               136.0
1                78.0                78.0
2               294.0               293.0
3                44.0                42.0
4                10.0                10.0

[5 rows x 176 columns]

In [99]:
tx_columns = df.columns

In [100]:
df = df.rename(columns={tx_columns[-1]:'case_counts',
                   tx_columns[1]:'city'})

In [101]:
df.drop(columns=tx_columns[2:-1], inplace=True)
df.drop(columns=tx_columns[0], inplace=True)

In [104]:
df.shape

(692, 2)

In [111]:
dropindex= df[df['case_counts'].isna() == True].index

In [112]:
dropindex

Int64Index([254, 255, 256, 257, 258, 259, 260, 261, 262, 263,
            ...
            682, 683, 684, 685, 686, 687, 688, 689, 690, 691],
           dtype='int64', length=438)

In [113]:
df.isna().sum()

city           438
case_counts    438
dtype: int64

In [114]:
df.drop(index=dropindex,inplace=True)

In [115]:
df.isna().sum()

city           0
case_counts    0
dtype: int64

In [116]:
df.head()

       city  case_counts
0  Anderson        136.0
1   Andrews         78.0
2  Angelina        293.0
3   Aransas         42.0
4    Archer         10.0

In [118]:
df.shape

(254, 2)

In [197]:
import numpy as np
def tx_count_diff(x,y):
    count_diff = x-y
    if count_diff < 0:
        return 0.0
    else:
        return count_diff

In [198]:
def tx_count_moving_average(col1,col2,col3,col4,col5,col6,col7,col8):
    min = 0
    increase = []
    for i in (col1,col2,col3,col4,col5,col6,col7,col8):
        increase.append(i-min)
        min = i
    average = np.mean(increase)
    #print(average)
    if average < 0:
        average = 0
    return round(average)

In [199]:
url = r"C:\Python\pluralsight\covid-19-analytics\input_data\TX\raw\Texas COVID-19 Active Case Data by County.xlsx"
df = pd.read_excel(url, header=[0], skiprows=[0, 1])
tx_columns = df.columns
df = df.rename(columns={tx_columns[-1]: 'case_counts_today',tx_columns[-8]: 'case_counts_lastweek',
                            tx_columns[1]: 'city'})
dropindex = df[df['case_counts_today'].isna() == True].index
df.drop(index=dropindex, inplace=True)
df['average_counts'] = np.vectorize(tx_count_moving_average)(df['case_counts_lastweek'],
                                                                df[tx_columns[-7]],
                                                                df[tx_columns[-6]],
                                                                df[tx_columns[-5]],
                                                                df[tx_columns[-4]],
                                                                df[tx_columns[-3]],
                                                                df[tx_columns[-2]],
                                                                df['case_counts_today'])

df = df.loc[0:,['city','case_counts_lastweek','case_counts_today','average_counts']]
df.reset_index()
#print(df)
#df['case_counts_7day'] = np.vectorize(tx_count_diff)(df['case_counts_today'],df['case_counts_lastweek'])
print(df.info())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 254 entries, 0 to 253
Data columns (total 4 columns):
city                    254 non-null object
case_counts_lastweek    254 non-null float64
case_counts_today       254 non-null float64
average_counts          254 non-null float64
dtypes: float64(3), object(1)
memory usage: 9.9+ KB
None

In [200]:
pop = r'C:\Python\pluralsight\covid-19-analytics\input_data\lookup\TX_population.csv'
df_poulation = pd.read_csv(pop)
df_poulation = df_poulation.iloc[0:,[1,4]]
tx_columns = df_poulation.columns
df_poulation = df_poulation.rename(columns={tx_columns[0]: 'city',tx_columns[-1]: 'est_population'})
df_poulation['est_population_per_100k_factor'] = df_poulation['est_population'].apply(lambda x : 100000/x)
print(df_poulation.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 255 entries, 0 to 254
Data columns (total 3 columns):
city                              255 non-null object
est_population                    255 non-null int64
est_population_per_100k_factor    255 non-null float64
dtypes: float64(1), int64(1), object(1)
memory usage: 6.1+ KB
None

In [201]:
df = df.merge(df_poulation,how='inner',left_on='city',right_on='city')
df = df.loc[0:, ['city', 'average_counts', 'est_population_per_100k_factor']] ###
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 253 entries, 0 to 252
Data columns (total 3 columns):
city                              253 non-null object
average_counts                    253 non-null float64
est_population_per_100k_factor    253 non-null float64
dtypes: float64(2), object(1)
memory usage: 7.9+ KB

In [202]:
def deduce_counts(x,y):
    if y < 1:
        return x*y
    else:
        return x

In [203]:
df['case_counts'] = np.vectorize(deduce_counts)(df['average_counts'],df['est_population_per_100k_factor'])

In [204]:
df = df.loc[0:,['city','case_counts']]
print(df.head(20))

         city  case_counts
0    Anderson    17.000000
1     Andrews    10.000000
2    Angelina    37.000000
3     Aransas     5.000000
4      Archer     1.000000
5   Armstrong     0.000000
6    Atascosa    68.000000
7      Austin     4.000000
8      Bailey     2.000000
9     Bandera     6.000000
10    Bastrop    20.000000
11     Baylor     1.000000
12        Bee     9.000000
13       Bell    13.460951
14      Bexar    34.893429
15     Blanco     2.000000
16     Borden     0.000000
17     Bosque     9.000000
18      Bowie    53.000000
19   Brazoria    49.861901

In [205]:
df['case_counts'] = df['case_counts'].astype('int32')

In [206]:
df.head()

       city  case_counts
0  Anderson           17
1   Andrews           10
2  Angelina           37
3   Aransas            5
4    Archer            1

In [153]:
np.vectorize(tx_count_moving_average)(df)

Anderson
Anderson
Andrews
Angelina
Aransas
Archer
Armstrong
Atascosa
Austin
Bailey
Bandera
Bastrop
Baylor
Bee
Bell
Bexar
Blanco
Borden
Bosque
Bowie
Brazoria
Brazos
Brewster
Briscoe
Brooks
Brown
Burleson
Burnet
Caldwell
Calhoun
Callahan
Cameron
Camp
Carson
Cass
Castro
Chambers
Cherokee
Childress
Clay
Cochran
Coke
Coleman
Collin
Collingsworth
Colorado
Comal
Comanche
Concho
Cooke
Coryell
Cottle
Crane
Crockett
Crosby
Culberson
Dallam
Dallas
Dawson
Deaf Smith
Delta
Denton
Dickens
Dimmit
Donley
Duval
Eastland
Ector
Edwards
Ellis
El Paso
Erath
Falls
Fannin
Fayette
Fisher
Floyd
Foard
Fort Bend
Franklin
Freestone
Frio
Gaines
Galveston
Garza
Gillespie
Glasscock
Goliad
Gonzales
Gray
Grayson
Gregg
Grimes
Guadalupe
Hale
Hall
Hamilton
Hansford
Hardeman
Hardin
Harris
Harrison
Hartley
Haskell
Hays
Hemphill
Henderson
Hidalgo
Hill
Hockley
Hood
Hopkins
Houston
Howard
Hudspeth
Hunt
Hutchinson
Irion
Jack
Jackson
Jasper
Jeff Davis
Jefferson
Jim Hogg
Jim Wells
Johnson
Jones
Karnes
Kaufman
Kendall
Kenedy
Kent
Kerr
Kimble
King
Kinney
Kleberg
Knox
Lamar
Lamb
Lampasas
La Salle
Lavaca
Lee
Leon
Liberty
Limestone
Lipscomb
Live Oak
Llano
Loving
Lubbock
Lynn
McCulloch
McLennan
McMullen
Madison
Marion
Martin
Mason
Matagorda
Maverick
Medina
Menard
Midland
Milam
Mills
Mitchell
Montague
Montgomery
Moore
Morris
Motley
Nacogdoches
Navarro
Newton
Nolan
Nueces
Ochiltree
Oldham
Orange
Palo Pinto
Panola
Parker
Parmer
Pecos
Polk
Potter
Presidio
Rains
Randall
Reagan
Real
Red River
Reeves
Refugio
Roberts
Robertson
Rockwall
Runnels
Rusk
Sabine
San Augustine
San Jacinto
San Patricio
San Saba
Schleicher
Scurry
Shackelford
Shelby
Sherman
Smith
Somervell
Starr
Stephens
Sterling
Stonewall
Sutton
Swisher
Tarrant
Taylor
Terrell
Terry
Throckmorton
Titus
Tom Green
Travis
Trinity
Tyler
Upshur
Upton
Uvalde
Val Verde
Van Zandt
Victoria
Walker
Waller
Ward
Washington
Webb
Wharton
Wheeler
Wichita
Wilbarger
Willacy
Williamson
Wilson
Winkler
Wise
Wood
Yoakum
Young
Zapata
Zavala
136.0
2.0
28.0
42.0
7.0
0.0
481.0
0.0
12.0
41.0
0.0
5.0
55.0
13.0
2171.0
2.0
1.0
8.0
58.0
0.0
0.0
0.0
0.0
51.0
0.0
0.0
4.0
0.0
186.0
0.0
0.0
0.0
5.0
34.0
2.0
13.0
23.0
2.0
5.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
37.0
0.0
0.0
0.0
1.0
0.0
0.0
1.0
9.0
1638.0
33.0
4.0
2.0
52.0
0.0
56.0
2.0
65.0
0.0
477.0
32.0
0.0
573.0
0.0
42.0
6.0
0.0
1.0
3.0
0.0
53.0
0.0
0.0
281.0
2.0
0.0
2.0
94.0
2.0
0.0
223.0
18.0
0.0
0.0
0.0
1560.0
0.0
2.0
20.0
1.0
1.0
0.0
1260.0
14.0
10.0
0.0
0.0
0.0
0.0
747.0
0.0
11.0
13.0
7.0
2.0
94.0
0.0
39.0
7.0
0.0
0.0
59.0
0.0
0.0
120.0
12.0
148.0
44.0
0.0
174.0
0.0
119.0
0.0
0.0
141.0
0.0
0.0
19.0
102.0
6.0
18.0
0.0
0.0
0.0
256.0
0.0
7.0
0.0
0.0
0.0
0.0
0.0
0.0
130.0
3.0
4.0
14.0
7.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
64.0
0.0
0.0
2.0
5.0
0.0
11.0
0.0
2.0
10.0
0.0
0.0
16.0
666.0
6.0
2.0
0.0
29.0
3.0
21.0
5.0
0.0
27.0
146.0
1.0
0.0
60.0
0.0
11.0
0.0
4.0
16.0
0.0
1.0
28.0
2.0
16.0
0.0
2.0
1.0
113.0
11.0
1.0
17.0
0.0
10.0
0.0
45.0
5.0
285.0
1.0
1.0
2.0
0.0
4.0
89.0
0.0
0.0
3.0
0.0
1.0
0.0
0.0
1.0
0.0
0.0
3.0
0.0
0.0
0.0
0.0
0.0
0.0
6.0
0.0
1112.0
0.0
2.0
26.0
35.0
94.0
0.0
298.0
0.0
0.0
0.0
3.0
28.0
28.0
51.0
1.6991198559146363
5.199667221297837
1.0828018580879886
4.341973861317355
10.38961038961039
51.3083632632119
1.9890206062534808
3.152187618207036
13.781697905181918
4.371775815336189
1.132554136087705
26.737967914438503
3.0267259904960806
0.28043647132396865
0.05020637329743912
8.449514152936207
150.15015015015015
5.296049147336087
1.0257672739208927
0.2610570722971456
0.43803549839679007
10.955302366345311
65.14657980456026
13.808340237503453
2.533569799847986
5.440400413470432
2.0751193193608635
2.327963497532359
4.563084645220169
7.091192738618636
0.23482502013624548
7.786342754808067
16.239038648911983
3.237084034701541
13.034410844629823
2.282115064241539
1.873536299765808
14.271442842871414
9.589566551591869
34.118048447628794
29.940119760479043
11.788282447247436
0.09814004977663325
33.97893306150187
4.616378912381128
0.6666977792296974
7.186489399928135
48.923679060665364
2.489048187972919
1.34961873270801
72.83321194464676
21.29471890971039
29.171528588098017
17.33402669440111
46.425255338904364
13.679890560875513
0.03773129282501736
7.971938775510204
5.138482092389908
19.03311762466692
0.11609588126642031
44.03346543372963
9.980039920159681
29.770765108663294
9.133254178463787
5.430060816681147
0.6052169702838468
52.30125523012552
0.5481284155251892
0.11687390357669207
2.3059539731586955
5.7650178715554015
2.8290944068803574
3.8735667802912923
26.968716289104638
17.55001755001755
82.98755186721992
0.12719199504459988
9.304056568663938
4.884720593982024
5.067139599695972
4.716981132075472
0.29477569043836094
15.723270440251572
3.7015102161681965
69.06077348066299
12.708095056551024
4.84050534875841
4.617444706099644
0.727383818619571
0.7922988551281543
3.4258307639602603
0.6044049029325725
2.9423014682084325
32.31017770597738
11.594202898550725
18.501387604070306
26.588673225206062
1.7132088401576153
0.021211647485327372
1.4559855566232782
17.708517797060384
17.349063150589867
0.4408140954715168
26.462026991267532
1.213268302152338
0.11230730873503786
2.7373261797875834
4.304407713498622
1.630417060684123
2.6908484245082476
4.2883485569707105
2.777469170092212
27.359781121751027
1.0262515137209827
4.85649069982031
60.53268765133172
10.835410120273052
6.535093451836361
2.721384640505089
40.30632809351068
0.39518506516601726
19.496977968414896
2.4085938629028374
0.5773972088618924
5.075111652456354
6.5342394145321485
0.7805060801423643
2.1073483236044086
242.71844660194174
130.89005235602093
1.9020446980504042
21.17746717492588
393.7007874015748
26.946914578280786
3.0693677102516883
29.472443265546715
1.9889019272459676
7.876496534341525
4.71253534401508
13.5080372821829
4.890693011199687
5.756058251309503
5.72967398155045
1.1331701568307497
4.214963119072708
30.120481927710845
8.304268393954493
4.573937702968486
970.8737864077669
0.3248124208269724
16.82935038707506
12.03224642040669
0.39090596366138164
135.13513513513513
6.911805363560962
10.141987829614605
17.02127659574468
23.04147465437788
2.7406270554702914
1.7460539181449923
1.916039163840509
46.860356138706656
0.5693788077207766
3.9544447959506486
20.242914979757085
12.292562999385371
5.093984004890225
0.16379667591025907
4.8508367693427115
8.157937673356175
81.63265306122449
1.5271139074263549
1.9895350456598293
7.303534910896874
6.872379905161157
0.27671166920780216
9.988014382740712
47.61904761904762
1.1783281879669125
3.464403256539061
4.069507182680177
0.7246009260399835
10.12965964343598
6.724949562878279
2.0057766367137355
0.8565750702391558
14.2571998859424
7.910766553279013
0.7020204147536611
26.624068157614484
27.77777777777778
8.284317786430288
6.307954330410648
14.669209329617134
114.6788990825688
5.575068294586608
1.0224217080577054
10.316723408645414
1.8532589558739043
8.97827258035554
11.55268022181146
3.3890263327346055
1.5160703456640388
16.066838046272494
32.26847370119393
5.838052425710783
30.646644192460926
4.061078622482131
32.09242618741977
0.43462009857183836
10.412328196584756
1.5771378103018643
10.306090899721736
77.27975270479135
70.97232079489
26.7022696929239
13.475272874275705
0.04844069405826447
0.7202068434054261
118.62396204033215
8.014104824491104
65.57377049180327
2.9591927322226494
0.8526748409761422
0.07932604591391537
6.829201666325207
4.449586188484471
2.439143372847456
26.71653753673524
3.611281643855404
1.9753476611883691
1.766909322213584
1.0862598985433254
1.3323562720671507
1.8399602568584519
8.793527963418924
2.7932180665344544
0.3546552042104666
2.4306652730852436
19.766752322593398
0.7473059620069649
7.9693975135479755
4.656577415599535
0.17494445513549448
1.9578283767644928
12.993762993762994
1.4358120234898848
2.210970837294656
10.978153474585575
5.463286713286713
7.192692224699705
8.105041335710812
136.0
2.0
28.0
42.0
7.0
0.0
481.0
0.0
12.0
41.0
0.0
5.0
55.0
3.6456741272115925
108.99803642874033
2.0
1.0
8.0
58.0
0.0
0.0
0.0
0.0
51.0
0.0
0.0
4.0
0.0
186.0
0.0
0.0
0.0
5.0
34.0
2.0
13.0
23.0
2.0
5.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
37.0
0.0
0.0
0.0
1.0
0.0
0.0
1.0
9.0
61.803857647378436
33.0
4.0
2.0
6.036985825853856
0.0
56.0
2.0
65.0
0.0
288.6884948253949
32.0
0.0
66.96874674944456
0.0
42.0
6.0
0.0
1.0
3.0
0.0
6.741175737363793
0.0
0.0
281.0
2.0
0.0
2.0
94.0
2.0
0.0
223.0
18.0
0.0
0.0
0.0
942.8716485748132
0.0
2.0
20.0
1.0
1.0
0.0
26.726675831512487
14.0
10.0
0.0
0.0
0.0
0.0
83.89355962507328
0.0
11.0
13.0
7.0
2.0
94.0
0.0
39.0
7.0
0.0
0.0
59.0
0.0
0.0
47.42220781992207
12.0
148.0
25.405477189923264
0.0
174.0
0.0
119.0
0.0
0.0
141.0
0.0
0.0
19.0
102.0
6.0
18.0
0.0
0.0
0.0
256.0
0.0
7.0
0.0
0.0
0.0
0.0
0.0
0.0
42.225614707506416
3.0
4.0
5.4726834912593425
7.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
36.440243694129705
0.0
0.0
2.0
5.0
0.0
11.0
0.0
2.0
10.0
0.0
0.0
16.0
184.28997169239625
6.0
2.0
0.0
29.0
3.0
15.216619446839653
5.0
0.0
27.0
125.05996025491675
1.0
0.0
42.12122488521966
0.0
11.0
0.0
4.0
16.0
0.0
1.0
28.0
2.0
16.0
0.0
2.0
1.0
113.0
11.0
1.0
17.0
0.0
10.0
0.0
19.557904435732727
5.0
285.0
1.0
1.0
2.0
0.0
4.0
4.311221771185537
0.0
0.0
3.0
0.0
1.0
0.0
0.0
1.0
0.0
0.0
3.0
0.0
0.0
0.0
0.0
0.0
0.0
6.0
0.0
394.37658708203884
0.0
2.0
19.429955012181086
35.0
94.0
0.0
298.0
0.0
0.0
0.0
3.0
28.0
28.0
51.0

array([[None, None, None, None],
       [None, None, None, None],
       [None, None, None, None],
       ...,
       [None, None, None, None],
       [None, None, None, None],
       [None, None, None, None]], dtype=object)

In [141]:
coord_df = pd.read_csv(r'C:\Python\pluralsight\covid-19-analytics\input_data\lookup\TX_coordinates.csv')

In [142]:
coord_df.head()

       city   latitude   longitude
0  Anderson  31.781924  -95.625820
1   Andrews  32.269095 -102.604245
2  Angelina  31.254454  -94.618118
3   Aransas  28.198788  -96.947708
4    Archer  33.581659  -98.704487

In [207]:
df = df.merge(coord_df,how='inner',left_on='city',right_on='city')

In [208]:
df.case_counts.describe()

count    236.000000
mean      10.474576
std       16.198089
min        0.000000
25%        1.000000
50%        4.000000
75%       12.250000
max      100.000000
Name: case_counts, dtype: float64

# RI extract

In [7]:
 url = r"C:\Python\pluralsight\covid-19-analytics\input_data\RI\raw\COVID-19 Rhode Island Data - Municipal Case Trends.csv"

In [70]:
df = pd.read_csv(url, header=[2], skiprows=[0,1,2,3,4],skip_blank_lines=True)

In [71]:
df = df.iloc[-1:,0:]

In [72]:
df = df.transpose()

In [73]:
df.head()

                                      28
Week of Result Date  9/13-9/19 (Week 38)
BARRINGTON                            <5
BRISTOL                                7
BURRILLVILLE                           9
CENTRAL FALLS                         22

In [74]:
df = df.iloc[1:,0:]

In [75]:
ri_columns = df.columns
df = df.rename(columns={ri_columns[0]: 'case_counts'})

In [76]:
df.head()

              case_counts
BARRINGTON             <5
BRISTOL                 7
BURRILLVILLE            9
CENTRAL FALLS          22
CHARLESTOWN            <5

In [78]:
df = df.reset_index()

In [79]:
df.head()

           index case_counts
0     BARRINGTON          <5
1        BRISTOL           7
2   BURRILLVILLE           9
3  CENTRAL FALLS          22
4    CHARLESTOWN          <5

In [80]:
df = df.rename(columns={'index': 'city'})

In [81]:
df.head()

            city case_counts
0     BARRINGTON          <5
1        BRISTOL           7
2   BURRILLVILLE           9
3  CENTRAL FALLS          22
4    CHARLESTOWN          <5

In [82]:
df.isna().sum()

city           0
case_counts    0
dtype: int64